<div class="container" ng-controller="getEventListController">


    <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
            <div class="panel-heading panel-collapse-trigger collapse in" data-toggle="collapse"
                 data-target="#4ecdc2cc-3356-5a94-39a7-247a235aa415" aria-expanded="true">
                <h4 class="panel-title">Recherche</h4>
            </div>
            <div class="collapse in">
                <div class="panel-body">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchText.$">
                        <span class="input-group-btn">
			               	<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
		                	</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="row">
            <div class="col-xs-6">
                <h4><span class="text-primary">{{ entities.length }}</span> Results</h4>
            </div>

            <div class="col-xs-6 text-right">
                <div class="dropdown display-inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                        Sort by:
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" ng-model="selectFilter">
                        <li><a>Action</a></li>
                        <li>
                            <a data-value="price" value="price" ng-click="sortBy('price')">Prix
                                <span class="sortorder" ng-show="propertyName === 'price'"
                                      ng-class="{reverse: reverse}"></span>
                            </a>
                        </li>
                        <li>
                            <a data-value="reservation" value="price" ng-click="sortBy('reservation')">Réservation
                                <span class="sortorder" ng-show="propertyName === 'reservation'"
                                      ng-class="{reverse: reverse}"></span>
                            </a>
                        </li>
                        <li>
                            <a data-value="createAt" value="createAt" ng-click="sortBy('createAt')">Date
                                <span class="sortorder" ng-show="propertyName === 'createAt'"
                                      ng-class="{reverse: reverse}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group display-inline-block">
                    <a class="btn btn-primary active" href="#!/evennements/list"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="#!/evennements/grid"><i class="fa fa-th"></i></a>
                 </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="panel panel-default"
                 ng-repeat="item in entities | filter:searchText | orderBy:propertyName:reverse ">

                <div class="panel-body">
                    <div class="media media-clearfix-xs media-clearfix-sm">
                        <div class="media-left">
                            <a href="/{{item.locale}}/estate-{{ item.id}}.html">
                                <img src="/{{ item.images }}" alt="property-{{ item.rentOrSale }}-{{item.id}}"
                                     style="width: 150px !important;"
                                     class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right">
                            </div>
                            <h4 class="media-heading margin-v-0-10">
                                <a href="/{{item.locale}}/estate-{{ item.id}}.html">{{item.title}}</a>

                                <small class="text-grey-400"><i class="fa fa-clock-o fa-fw"></i>
                                    {{item.dateDebut.date|date}}
                                </small>
                            </h4>
                            <p class="margin-none" ng-bind-html="item.content"></p>
                            <span class="label label-grey-100">DT {{item.price}}</span>&nbsp;
                            <span class="label label-success" ng-if="item.reservation">Réservation</span>&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <pagination class="pagination margin-top-none"
                        ng-model="currentPage"
                        total-items="entities.length"
                        max-size="maxSize"
                        boundary-links="true">
            </pagination>

        </div>
    </div>
</div>
